*.js
# Except:
!preact.config.js
!preact/index.js

*.js.map
##############


preact_build/
assets/
node_modules/
##############

.vscode/
*.DS_Store
##############

.env
playlistAdmin.json
##############
*.cache
