html,
body {
    background: #fafafa;
    background-image: linear-gradient(#3f3f3f, #171717);
    background-size: cover;
    color: #444;
    display: flex;
    font-family: 'Helvetica Neue', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

#username {
    color: white;
    display: inline;
    padding-top: 48px;
}

.fadein {
    animation-duration: 6s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#app {
    height: 100%;
    text-align: center;
}
